* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

@media (min-width: 567px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

/* Nav Section */

nav {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 0 0;
  color: var(--main-color);
  box-shadow: 0 0 20px 9px #eee;
  padding: 1rem;
}

nav .title {
  flex: 1;
  color: rgb(13, 64, 116);
}

nav .search-form {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 1rem;
}

:is(nav .search-form) .search-input,
.search-btn {
  padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

nav .search-form .search-input {
  flex: 1;
  box-shadow: 0 0 20px 5px #eee;
}
nav .search-form .search-btn {
  cursor: pointer;
  background-color: var(--main-color);

  font-weight: bold;
  color: white;
}

.add-member-form {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80%;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.add-member-form .input {
  width: 40%;
  margin: 10px;
  padding: 0.5rem;
  outline: none;
}

.add-user-btn {
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
  padding: 0.8rem;
  outline: none;
  border-radius: 5px;
}
